@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@layer components {
    .font-poppins {
        font-family: "Poppins", sans-serif;
    }
    .h-120 {
        height: 33rem;
    }

    .bg-gradient-footer {
        background: linear-gradient(343.57deg, #1d3152 0%, #0f264d 23.8%, #101c30 42.57%, #0f172a 63.76%, #0f172a 69.62%);
    }
    .bg-gradient-home {
        background: linear-gradient(150.57deg, rgb(110 231 183) 12%, rgb(110 231 183) 23%, #fff 63.76%, #fff 69.62%);
    }
    .bg-gradient-home-2 {
        background: linear-gradient(93.57deg, #0f264d 12%, #101c30 23%, #0f172a 63.76%, #0f172a 69.62%);
    }
}
